//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
/*
 * Optimized Totem Layout (Programmer Edition v2)
 * - Swapped GUI/ALT
 * - Nav on Left (ESDF), Num on Right
 * - Center-facing Brackets
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/* Layer Definitions */

#define BASE 0
#define SYM  1
#define NUM  2  /* Acts as NAV (Left) and NUM (Right) */
#define SYS  3

/ {
    behaviors {
        /*
         * TIMELESS HOME ROW MODS
         * Order: GUI | ALT | CTRL | ALPHA
         */

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <125>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        /*
         * Layer 0: BASE (Colemak-DH)
         * -----------------------------------------------------------------------------------------
         * |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L  |  U  |  Y  |  '  |
         * |  A  |  R  |  S  |  T  |  G  |   |  M  |  N  |  E  |  I  |  O  |
         * |(GUI)|(ALT)|(CTL)|     |     |   |     |     |(CTL)|(ALT)|(GUI)|
         * | CAPS|  Z  |  X  |  C  |  D  | V |  K  |  H  |  ,  |  .  |  /  | RPT |
         *             | ESC | SPC | BKSP|   | DEL | RET | TAB |
         *                   (SYM)             (NUM)
         */

        default_layer {
            bindings = <
            &kp Q       &kp W       &kp F         &kp P        &kp B                       &kp J                &kp L        &kp U        &kp Y       &kp APOS
            &hm LGUI A  &hm LALT R  &hm LCTRL S   &kp T        &kp G                       &kp M                &kp N        &hm RCTRL E  &hm RALT I  &hm RGUI O
&caps_word  &kp Z       &kp X       &kp C         &kp D        &kp V                       &kp K                &kp H        &kp COMMA    &kp DOT     &kp FSLH    &key_repeat
                                    &lt 2 ESCAPE  &lt 1 SPACE  &mt LEFT_SHIFT BACKSPACE    &mt RIGHT_SHIFT DEL  &lt 1 ENTER  &lt 2 TAB
            >;
        };

        /*
         * Layer 1: SYMBOLS
         * -----------------------------------------------------------------------------------------
         * - Brackets face each other on Inner Columns (Left: [({ Right: })])
         * - General symbols distributed for flow
         */

        sym_layer {
            bindings = <
        &kp EXCL  &kp AT    &kp HASH   &kp DLLR           &kp LBKT    &kp RBKT  &kp AMPS      &kp STAR   &kp UNDERSCORE  &kp GRAVE
        &kp BSLH  &kp PIPE  &kp PRCNT  &kp CARET          &kp LPAR    &kp RPAR  &kp EQUAL     &kp COLON  &kp MINUS       &kp SEMI
&trans  &trans    &trans    &kp TILDE  &kp DOUBLE_QUOTES  &kp LBRC    &kp RBRC  &kp QUESTION  &kp PLUS   &trans          &trans     &trans
                            &trans     &trans             &trans      &trans    &trans        &trans
            >;
        };

        /*
         * Layer 2: NAV (Left) & NUM (Right)
         * -----------------------------------------------------------------------------------------
         * LEFT HAND (Nav):
         * - E/S/D/F = Up/Left/Down/Right (WASD shifted to home row area)
         * - Home/End available
         * RIGHT HAND (Num):
         * - Numpad 789 / 456 / 123 / 0
         * - Algorithmic Math: + - * / =
         * - Modifiers (Ctrl/Shift) & Delete available on idle hands
         */

        num_nav_layer {
            bindings = <
        &kp PG_UP  &kp HOME  &kp UP      &kp END    &trans    &kp KP_PLUS   &kp N7  &kp N8   &kp N9  &kp KP_MULTIPLY
        &kp PG_DN  &kp LEFT  &kp DOWN    &kp RIGHT  &trans    &kp KP_MINUS  &kp N4  &kp N5   &kp N6  &kp KP_DIVIDE
&trans  &trans     &trans    &trans      &trans     &trans    &kp KP_EQUAL  &kp N1  &kp N2   &kp N3  &kp BSPC         &trans
                             &kp LSHIFT  &kp LCTRL  &trans    &trans        &kp N0  &mo SYS
            >;
        };

        /*
         * Layer 3: SYSTEM (F-Keys, BT)
         * Accessed by holding Right Outer Thumb (Tab position mapped to &mo SYS in previous layer)
         */

        sys_layer {
            bindings = <
             &kp F12  &kp F7  &kp F8  &kp F9  &kp F10    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR
             &kp F11  &kp F4  &kp F5  &kp F6  &trans     &out OUT_BLE  &trans        &trans        &trans        &trans
&bootloader  &trans   &kp F1  &kp F2  &kp F3  &trans     &out OUT_USB  &trans        &trans        &trans        &trans      &sys_reset
                              &trans  &trans  &trans     &trans        &trans        &trans
            >;
        };
    };
};
